<% var isNavInPostHero = typeof inPageHeader !== 'undefined' && inPageHeader; %>
<% if (isNavInPostHero) { %>
<div class="site-header site-header--in-page-header" data-nav-scroll role="banner">
  <%- partial('partials/nav-inner') %>
</div>
<% } else { %>
<header class="site-header" data-nav-scroll>
  <%- partial('partials/nav-inner') %>
</header>
<% } %>
